/* COLORS */
$purple-color: #7209b7;
$deepblue-color: #00004f;
$background-color: #f7f7f7;
$steelgray-color: #333;

/* GRADIENTS & SHADOWS */
$gradient: linear-gradient(to right, #4a00e0, #8e2de2);
$gradient-bg: linear-gradient(to top, #4A00E0, #8E2DE2);
$box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

/* WRAPPER-DIMENSIONS */
$card-width: 380px;
$card-height: 240px;

/* FORM DIMENSIONS */
$form-width: 420px;
$input-height: 40px;

/* GENERALS */
$font: "Roboto Mono", monospace;
